<ion-navbar *navbar>
    <ion-title>New category</ion-title>
</ion-navbar>
<ion-content class="addtrans">
    <ion-list inset>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <ion-item>
                <ion-label floating>Name of Category</ion-label>
                <ion-input type="text" ngControl="name" required></ion-input>
            </ion-item>            
            <ion-list radio-group ngControl="type" required>
                <ion-list-header>Choose type</ion-list-header>
                <ion-row>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label>Income</ion-label>
                            <ion-radio value="income"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label>Expense</ion-label>
                            <ion-radio value="expense"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
            <button tappable block [disabled]="!formData.valid">
                <ion-icon name="add"></ion-icon>Add</button>
        </form>
    </ion-list>
</ion-content>
