<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Insights</ion-title>
</ion-navbar>
<ion-content padding>
    <ion-list>
        <form>
            <button fab fab-right>
                <ion-icon name="search"></ion-icon>
            </button>
            <ion-list-header>
                Select date range
            </ion-list-header>
            <ion-item>
                <ion-label>From</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" ngControl="createdAt"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>To</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" ngControl="createdAt"></ion-datetime>
            </ion-item>
        </form>
    </ion-list>
    <ion-list inset>
        <button ion-item (click)="showModal()">
            View graph
            <ion-icon name="trending-up" item-right></ion-icon>
        </button>
    </ion-list>
</ion-content>
