<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>This Month <span *ngIf="total">({{ total }}¢)</span></ion-title>
</ion-navbar>
<ion-content class="month">
    <ion-list inset>
        <button ion-item (click)="gotoOverview()">
            Overview for {{ month }}
            <br>
            <small>tap to view full report</small>
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </button>
        <button ion-item (click)="gotoOverview()">
            <table style="width:100%">
                <tr>
                    <td>In flow</td>
                    <td text-right>0</td>
                </tr>
                <tr>
                    <td>Outflow</td>
                    <td text-right>0</td>
                </tr>
                <tr>
                    <td></td>
                    <td text-right style="border-top:1px solid grey; padding-top:5px;">Total: 0</td>
                </tr>
            </table>
        </button>
    </ion-list>
    <ion-list *ngIf="!transactions.length">
        <ion-item>
            <h1 text-center padding-top>No transactions</h1>
            <p text-center>Add a transaction with the button below</p>
        </ion-item>
    </ion-list>
    <ion-list inset>
        <ion-item *ngIf="transactions.length">
            <h2 text-center>Recent transactions</h2>
        </ion-item>
        <button ion-item *ngFor="let item of transactions" (click)="goDetail(item)">
            <h2>{{ item.category | uppercase }}</h2>
            <p>{{ item.note }}</p>
            <p>{{ item.createdAt }}</p>
            <h1 text-right item-right>{{ item.amount }}¢</h1>
        </button>
    </ion-list>
    <button fab fab-bottom fab-center (click)='addTransaction()'>
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>
