<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
</ion-navbar>
<ion-content padding class="settings">
    <ion-list>
        <ion-list-header>
            Notifications
        </ion-list-header>
        <ion-item>
            <ion-label>Daily reminders</ion-label>
            <ion-toggle [(ngModel)]="reminder"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Show notifications</ion-label>
            <ion-toggle [(ngModel)]="notification"></ion-toggle>
        </ion-item>
        <ion-list-header>
            Others
        </ion-list-header>
        <ion-item>
            <ion-label>Display currency</ion-label>
            <ion-toggle [(ngModel)]="currencyOn"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Choose currency</ion-label>
            <ion-select [(ngModel)]="currency">
                <ion-option value="cedis">Cedis</ion-option>
                <ion-option value="naira">Naira</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Enter monthly threshold</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
