<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
</ion-navbar>
<ion-content>
    <div class="about-header">
        <img src="img/stanpiggy.png">
    </div>
    <div padding class="about-info">
        <h4 text-center>StanPiggy</h4>
        <p>
            My name is StanPiggy. I want to be your financial friend. Just tell me all your financial transactions everyday, and I will assist you with insights each month, that will help you know if you're going overboard with your expenditure, or how much you're saving each month.
        </p>
        <p>
            I am easy to use, and happy to help. Take a tour to see some of my features
        </p>
        <button outline (click)="gotoTour()">
            <ion-icon name="information-circle"></ion-icon>Tour</button>
        <button clear (click)="showFeedback()">
            <ion-icon name="mail"></ion-icon>Send feedback</button>
    </div>
    <div padding>
      <p>
        Version 0.0.8 Alpha. 2016 May
      </p>
    </div>
</ion-content>
