.about-header {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.about-header img {
  margin-left: -15px;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info div {
  padding: 5px;
  text-align: left;
  font-size: 1.5rem;
}

.mytoolbar {
  min-height: 150px;
  padding:20px;
  background-color:grey;
}