<ion-menu [content]="content">
    <ion-toolbar class="mytoolbar">
        <img src="img/stanpiggy.png">
        <ion-title text-center>Menu</ion-title>
    </ion-toolbar>
    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
    <ion-toolbar position="bottom">
        <button outline *ngFor="let p of footer" (click)="openPage(p)">
            <ion-icon name="information-circle"></ion-icon>About</button>
        <button clear (click)="showFeedback()">
            <ion-icon name="mail"></ion-icon>Send feedback</button>
    </ion-toolbar>
</ion-menu>
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
