<ion-navbar *navbar>
    <ion-title></ion-title>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button royal (click)="editCategory(category)">
            <ion-icon name="create" primary></ion-icon>
        </button>        
        <button royal (click)="presentActionSheet(category?.id)">
            <ion-icon name="trash" danger></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content padding class="categorydetail">
    <ion-list no-lines>
        <ion-item>
            <h1>{{ category?.name }}</h1>
            <h2>
                Type: {{ category?.type }}
            </h2>
        </ion-item>
    </ion-list>
</ion-content>
