<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
</ion-navbar>
<ion-content padding class="profile">
    <p>
        <button primary menuToggle>Toggle Menu</button>
    </p>
</ion-content>
