<ion-navbar *navbar primary>
    <ion-title>Our family</ion-title>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button royal>
            <ion-icon name="list"></ion-icon>
        </button>
        <button royal>
            <ion-icon name="person-add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content class="family">
  <ion-list inset>
    <ion-list-header>
      <h3>Recent family transactions</h3>
    </ion-list-header>
    <button ion-item>
        <ion-avatar item-left>
            <img src="img/avatar-cher.png">
        </ion-avatar>
        <h2>Cher</h2>
        <p>Income for teaching on...</p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>    
    <button ion-item>
        <ion-avatar item-left>
            <img src="img/avatar-rex.jpg">
        </ion-avatar>
        <h2>Rex</h2>
        <p>Income for teaching on...</p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>    
    <button ion-item>
        <ion-avatar item-left>
            <img src="img/avatar-sis.jpg">
        </ion-avatar>
        <h2>Raisa</h2>
        <p>Expense made on food on...</p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>
