<ion-navbar *navbar>
    <ion-title>Transaction Detail</ion-title>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button royal (click)="editTransaction(transaction)">
            <ion-icon name="create" primary></ion-icon>
        </button>
        <button royal (click)="presentActionSheet(transaction.id)">
            <ion-icon name="trash" danger></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content padding class="transaction">
    <h3>{{ transaction.category | uppercase }}</h3>
    <h4>{{ transaction.amount }}¢</h4>
    <p> {{ transaction.note }}</p>
    <p> {{ transaction.createdAt }} </p>
</ion-content>
