<ion-navbar *navbar>
  <ion-title>StanPiggy!</ion-title>
  <ion-buttons end *ngIf="showSkip">
    <button (click)="startApp()" primary>Skip</button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="img/fifth_image.png" class="slide-image"/>
      <h2 class="slide-title">Ready to Try?</h2>
      <button large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
