<ion-navbar *navbar>
    <ion-title>Update transaction</ion-title>
</ion-navbar>
<ion-content padding class="edittransaction">
    <ion-list inset>
        <form #formData="ngForm">
            <ion-input type="text" hidden [(ngModel)]="transaction.id" ngControl="id"></ion-input>
            <ion-item>
                <ion-label floating>Amount</ion-label>
                <ion-input type="number" ngControl="amount" [(ngModel)]="transaction.amount"></ion-input>
            </ion-item>
            <ion-input list="cats" name="browser" placeholder="Choose category" [(ngModel)]="transaction.category" ngControl="category"></ion-input>
            <datalist id="cats">
                <option *ngFor="let category of categories" value="{{ category.name | lowercase }}">{{ category.name }}</option>
            </datalist>
            <ion-item>
                <ion-label floating>Note</ion-label>
                <ion-textarea type="text" ngControl="note" [(ngModel)]="transaction.note"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" ngControl="createdAt" [(ngModel)]="transaction.createdAt"></ion-datetime>
            </ion-item>
            <button block (click)="onSubmit(formData.value)">
                <ion-icon name="add"></ion-icon>Update</button>
        </form>
    </ion-list>
</ion-content>
