<ion-tabs selectedIndex="1">
  <ion-tab [root]="PastPage" tabTitle="Last Month"></ion-tab>
  <ion-tab [root]="MonthPage" tabTitle="This Month"></ion-tab>
  <ion-tab [root]="FamilyPage" tabIcon="contacts"></ion-tab>
</ion-tabs>