<ion-navbar *navbar>
    <ion-title>Categories</ion-title>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
</ion-navbar>
<ion-content class="category">
    <ion-list *ngIf="!category.length">
        <ion-item>
            <h1 text-center padding-top>No categories</h1>
            <p text-center>Add a category with the button below</p>
        </ion-item>
    </ion-list>
    <ion-list inset>
        <ion-item-sliding *ngFor="let item of category">
            <button ion-item (click)='gotoCategoryDetail(item)'>
                <h1>{{ item?.name }}</h1>
                <p>
                    {{ item?.type }}
                </p>
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <ion-item-options>
                <button (click)="editCategory(item)">
                    <ion-icon name="create"></ion-icon>Edit</button>
                <button danger (click)="deleteCategory(item?.id)">
                    <ion-icon name="trash"></ion-icon>Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <button fab fab-bottom fab-center (click)='gotoAdd()'>
        <ion-icon name="add"></ion-icon>
    </button>
    <!--<button fab fab-bottom danger outline fab-left style="position:absolute;" (click)='killSwitch()'>
        <ion-icon name="trash" danger></ion-icon>
    </button> -->
</ion-content>
