<ion-navbar *navbar>
    <ion-title>New transaction</ion-title>
</ion-navbar>
<ion-content class="addtrans">
    <ion-list inset>
        <form #formData="ngForm">
            <ion-item>
                <ion-label floating>Amount</ion-label>
                <ion-input type="number" ngControl="amount" required></ion-input>
            </ion-item>
            <ion-item *ngIf="!category.length">
                <button (click)="gotoAddcategory()">
                    <ion-icon name="add"></ion-icon>Add category first</button>
            </ion-item>
            <!-- Used datalist for this once.
            <ion-input [disabled]="!category.length" list="cats" name="browser" placeholder="Choose category" [(ngModel)]="trans.category" ngControl="category"></ion-input>
            <datalist id="cats">
                <option *ngFor="let item of category" value="{{ item.name | lowercase }}">{{ item.name }}</option>
            </datalist> -->
            <ion-item class="for-select">
                <ion-label>Category</ion-label>
                <ion-select required [disabled]="!category.length" [(ngModel)]="trans.category" ngControl="category" cancelText="cancel" okText="Okay!">
                    <ion-option *ngFor="let item of category" value="{{ item.name | lowercase }}">{{ item.name }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Note</ion-label>
                <ion-textarea type="text" ngControl="note"></ion-textarea>
            </ion-item>
            <ion-item class="for-select">
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" ngControl="createdAt" required min="2015" max="2017"></ion-datetime>
            </ion-item>
            <button tappable block [disabled]="!formData.valid" (click)="onSubmit(formData)">
                <ion-icon name="add"></ion-icon>Add</button>
        </form>
    </ion-list>
</ion-content>
