<ion-navbar *navbar>
  <ion-title>graph</ion-title>
</ion-navbar>

<ion-content padding class="graph">
  <button (click)="close()">
    Close
  </button>
    <fusionchart></fusionchart>
</ion-content>
