<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Previous Month <span *ngIf="total">({{ total }}¢)</span></ion-title>
</ion-navbar>
<ion-content class="month">
    <ion-list *ngIf="!transactions.length">
        <ion-item>
            <h1 text-center padding-top>No transactions</h1>
            <p text-center>Add a transaction with the button below</p>
        </ion-item>
    </ion-list>
    <ion-list inset>
        <ion-item *ngIf="transactions.length">
            <h2 text-center>{{ month }} transactions</h2>
        </ion-item>
        <button ion-item *ngFor="let item of transactions" (click)="goDetail(item)">
            <h2>{{ item.category | uppercase }}</h2>
            <p>{{ item.note }}</p>
            <p>{{ item.createdAt }}</p>
            <h1 text-right item-right>{{ item.amount }}¢</h1>
        </button>
    </ion-list>
    <button fab fab-bottom fab-center (click)='addTransaction()'>
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>
