<ion-navbar *navbar>
    <ion-title>Send feedback</ion-title>
    <ion-buttons end>
        <button royal (click)="close()">
            <ion-icon name="close" danger></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content class="addtrans">
    <ion-list inset>
        <form #formData='ngForm' (click)="onSubmit(formData)">
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input type="text" ngControl="name" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" ngControl="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Subject</ion-label>
                <ion-input type="text" ngControl="subject" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Message</ion-label>
                <ion-textarea ngControl="message" required></ion-textarea>
            </ion-item>
            <button>
                <ion-icon name="send"></ion-icon>Send</button>
            <button (click)="close()" clear danger>
                <ion-icon name="close"></ion-icon></button>
        </form>
    </ion-list>
</ion-content>
